<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="container-fluid">
        <div class="row">
          <h5>请输入URL种子<span class="text-light">目前只支持中关村URL</span></h5>
        </div>
        <div class="row">
          <form class="w-100">
              <div class="form-group">
                <label for="url">URL:</label>
                <input type="url" class="form-control" id="url" [(ngModel)]="URL" name="URL" required/>
              </div>
              <div class="form-group">
                <label for="type">类型：</label>
                <select class="form-control" [(ngModel)]="type" name="type">
                  <option *ngFor="let item of types" [value]="item">{{item}}</option>
                </select>
              </div>
              <button (click)="comfirm()">确认</button>
              <button (click)="stop()">停止</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col-6">

    </div>
    
    
  </div>
  
</div>